.dropdown-menu-profile{
    position: absolute;
    top: 160px;
    right: 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu-profile.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu-profile.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

  .dropdown-menu-profile ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu-profile ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
  }
  
  .dropdown-menu-profile ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }


  .dropdownItemProfile{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItemProfile img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItemProfile a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }