@import "../css/Responsive.css";

.link:hover {
    color: red;
}
.links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 60px;
}

.links .link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.1s all;
    border-bottom: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    height: 30px;
}

.links .link:hover {
    color: red;
    border-bottom: 4px solid red;
}

.links .uparrow-none {
    width: 40px;
    display: none;
}

.links .uparrow-block {
    width: 40px;
    display: block;
}

.links .downarrow-none {
    width: 40px;
    display: none;
}

.links .downarrow-block {
    width: 40px;
    display: block;
}

.links .none {
    border: 2px solid black;
    z-index: 6;
    list-style: none;
    margin-left: -190px;
    margin-top: 40px;
    display: none;
    height: 0px;
    transform: translateY(-100px);
    transition: 3s height;
}

.links .block {
    border-radius: 10px;
    z-index: 6;
    list-style: none;
    margin-top: 50px;
    margin-left: -180px;
    width: 80px;
    background-color: #a5a75c;
    height: 200px;
    transition: 3s height ease-in;
    border: 2px solid black;
}

.links .block li {
    margin-left: -40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.links .block li a {
    color: white;
}

.books:focus .links .block {
    height: 300px;
    transition: 1s all;
}

/*-------Responsive-------*/
@media screen and (max-height: 420px) {
    .links {
        margin-bottom: 135px;
    }
}
@media screen and (max-width: 520px) {
    .links {
        gap: 10px;
        transform: translateX(20px);
    }
    .links {
        margin-bottom: 85px;
    }
}
@media screen and (max-width: 600px) {
    .links {
        gap: 10px;
        transform: translateX(50px);
    }
    .links .block {
        transform: translateY(30px);
        transform: translateX(30px);
    }
}
@media screen and (max-height: 620px) {
    .links {
        margin-bottom: 45px;
    }
}
@media screen and (max-height: 720px) {
    .links {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 850px) {
    .links {
        gap: 10px;
        font-size: 15px;
        margin-left: -50px;
    }
    .links .block {
        transform: translateX(30px);
    }
}
@media screen and (max-width: 900px) {
    .links {
        margin-left: -50px;
    }
    .links .block {
        transform: translateY(70px);
        transform: translateX(40px);
    }
}
@media screen and (max-width: 950px) {
    .links {
        gap: 20px;
    }
    .links .block {
        transform: translateX(50px);
    }
}
@media screen and (max-width: 1020px) {
    .links {
        gap: 30px;
    }
    .links {
        margin-left: -20px;
        gap: 40px;
        padding-bottom: 20px;
    }
    .links .block {
        z-index: 1;
        transform: translateY(-10px);
        transform: translateX(30px);
    }
    .links .block ul {
        z-index: 10;
        border: 2px solid black;
    }

}
@media screen and (max-width: 1180px) {
    .links {
        gap: 40px;
        margin-bottom: 30px;
    }
    .links a {
        font-size: 18px;
    }
    .links .block {
        transform: translateX(50px);
    }
}


/*--------------*/