@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cormorant+SC:wght@500;700&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Fira+Sans+Condensed:wght@300&family=Hind+Siliguri:wght@600;700&family=Indie+Flower&family=Montserrat:ital,wght@0,300;1,300;1,500&family=Noto+Sans+Mono&family=Nunito:ital,wght@1,500&family=Open+Sans:ital,wght@0,400;0,600;1,500&family=Quicksand:wght@300&family=Red+Hat+Display:ital@1&family=Roboto:ital@1&family=Saira:ital@1&family=Source+Code+Pro:ital,wght@1,500&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@500&display=swap');
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.website {
    width: 100vw;
    min-height: 100vh;
}

.navbar {
    position: relative;
    width: 100%;
    height: 25vh;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: relative;
}

.navbar-logo img {
    border-radius: 5px;
    width: 200px;
    height: 230px;
}

.navbar-logo h1 {
    margin-top: -5px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.navbar-search input {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    padding-left: 20px;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
}

.navbar-search img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 42%;
}

.navbar-profile {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 70px;
    text-decoration: none;
    margin-top: -15px;
}

.profile span {
    text-align: center;
    transition: all 0.1s;
    margin-top: -2px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    text-decoration: none;
    border: none;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -3px;
    font-size: 20px;
}

.profile-link {
    text-decoration: none;
}

.img-profile {
    width: 60px;
    height: 70px;
}

.profile span:hover {
    color: red;
}

.dropdown-profile-none {
    height: 100px;
    border: 2px solid black;
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 5;
    background-color: #525151;
    margin-left: -200px;
    margin-top: -10px;
    display: none;
}

.dropdown-profile-block {
    height: 100px;
    border: 2px solid black;
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 5;
    background-color: #525151;
    margin-left: -200px;
    margin-top: -10px;
    display: none;
}

.dropdown-profile-block li {
    margin-left: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-profile-block li button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    height: 50px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.koszyk {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 70px;
}

.koszyk h3 {
    text-align: center;
    transition: all 0.1s;
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
}

.koszyk h3:hover {
    color: red;
}

.links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 60px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.1s all;
    border-bottom: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    height: 30px;
}

.links a:hover {
    color: red;
    border-bottom: 4px solid red;
}

.links .uparrow-none {
    width: 40px;
    display: none;
}

.links .uparrow-block {
    width: 40px;
    display: block;
}

.links .downarrow-none {
    width: 40px;
    display: none;
}

.links .downarrow-block {
    width: 40px;
    display: block;
}

.links .none {
    border: 2px solid black;
    z-index: 6;
    list-style: none;
    margin-left: -190px;
    margin-top: 40px;
    display: none;
}

.links .block {
    border-radius: 10px;
    z-index: 6;
    list-style: none;
    margin-left: -190px;
    margin-top: 40px;
    display: block;
    width: 100px;
    background-color: #a5a75c;
}

.links .block li {
    margin-left: -40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.links .block li a {
    color: white;
}

.arrow {
    margin-left: -50px;
    margin-top: -5px;
}

.home-content h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 320px;
}

.home-content hr {
    width: 80%;
    text-align: center;
}

.recommends {
    position: relative;
    padding-left: 280px;
    padding-top: 30px;
    padding-right: 280px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.recommends .book {
    height: 35vh;
    width: 35vh;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
    padding-left: 45px;
    transition: 0.1s all;
}

.recommends .book:hover {
    border: 2px solid rgb(153, 151, 151);
}

.recommends .book-image {
    width: 140px;
    height: 130px;
    border: 2px solid black;
}

.recommends .book-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.recommends .book-info button {
    width: 90px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(14, 90, 14);
    color: white;
    border: none;
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 10px;
    font-weight: bold;
}

.recommends .book-info .book-title {
    padding-top: 10px;
    font-size: 15px;
}

.recommends .book-info .book-author {
    padding-top: 10px;
    font-size: 10px;
}

.recommends .book-info .book-price {
    align-self: center;
    padding-top: 60px;
    font-size: 25px;
}

.recommends .book-info .addtobuy {
    align-self: center;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -20px;
}

.recommends .book-categories-none {
    width: 10vw;
    height: 30vh;
    background-color: rgb(187, 178, 49);
    border: 2px solid rgb(219, 141, 141);
    border-radius: 5px;
    position: absolute;
    top: -13%;
    left: 35%;
    display: none;
}

.recommends .book-categories-block {
    width: 20vw;
    height: 30vh;
    background-color: rgb(75, 72, 72);
    border-radius: 5px;
    position: absolute;
    top: -13%;
    left: 35%;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.recommends .book-categories-block a {
    text-decoration: none;
    color: white;
    transition: 0.1s all;
    font-family: 'Montserrat', sans-serif;
}

.recommends .book-categories-block a:hover {
    color: red;
}

.recommends .book-categories .bestsellers {
    padding-left: 280px;
    padding-top: 30px;
    padding-right: 280px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.bestsellers {
    position: relative;
    padding-left: 280px;
    padding-top: 30px;
    padding-right: 280px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.bestsellers span {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.bestsellers-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.bestsellers .book {
    height: 35vh;
    width: 35vh;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
    padding-left: 45px;
    background-color: rgba(235, 231, 231, 0.637);
}

.bestsellers .book:hover {
    background-color: white;
    border: 2px solid red;
}

.bestsellers .book-image {
    width: 140px;
    height: 130px;
    border: 2px solid black;
}

.bestsellers .book-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bestsellers .book-info button {
    width: 90px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(145, 40, 136);
    color: white;
    border: none;
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 10px;
    font-weight: bold;
}

.bestsellers .book-info .book-title {
    padding-top: 10px;
    font-size: 15px;
}

.bestsellers .book-info .book-author {
    padding-top: 10px;
    font-size: 10px;
}

.bestsellers .book-info .book-price {
    align-self: center;
    padding-top: 60px;
    font-size: 25px;
}

.bestsellers .book-info .addtobuy {
    align-self: center;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -20px;
}

.footer {
    width: 100%;
    height: 80vh;
    background-color: #525151;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 100px;
    align-items: center;
}

.newsletter {
    width: 500px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter span {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.newsletter input {
    border: none;
    border-bottom: 2px solid rgb(221, 115, 115);
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: white;
    width: 300px;
}

.newsletter input::placeholder {
    color: white;
    font-size: 15px;
    text-align: center;
}

.newsletter input:focus {
    outline: none;
}

.newsletter button {
    height: 40px;
    width: 80px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter button:hover {
    background-color: white;
    color: black;
    border: none;
}

.newsletter-info {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.newsletter-info span {
    text-align: center;
}

.newsletter-info button {
    margin-top: -20px;
}

.footer-links {
    display: flex;
    gap: 150px;
}

.footer-links-urbookstore {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
}

.footer-links-urbookstore a,
.footer-links-urbookstore Link {
    text-decoration: none;
    color: white;
}

.footer-links-urbookstore Link:hover {
    color: red;
}

.footer-links-urbookstore span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-links-zakupy {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
}

.footer-links-zakupy a,
.footer-links-zakupy Link {
    text-decoration: none;
    color: white;
    transition: 0.1s all;
}

.footer-links-zakupy Link:hover {
    color: red;
}

.footer-links-zakupy span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-links-oferta {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
}

.footer-links-oferta a,
.footer-links-oferta Link {
    text-decoration: none;
    color: white;
}

.footer-links-oferta Link:hover {
    color: red;
}

.link:hover {
    color: red;
}

.footer-links-oferta span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-links-topbooks {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
}

.footer-links-topbooks a {
    text-decoration: none;
    color: white;
}

.footer-links-topbooks a:hover {
    color: red;
}

.footer-links-topbooks span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-copywright {
    margin-top: 100px;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.kontakt p {
    margin-top: 20px;
    margin-bottom: 60px;
}

.kontakt h2 {
    font-size: 50px;
}

.kontakt img {
    height: 100px;
    width: 150px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 20px;
}

.contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-phone .phone {
    height: 100px;
    width: 100px;
}

.onas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.onas h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.onas p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

.zaloguj {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.zaloguj .text-zaloguj {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.zaloguj .label-zaloguj {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}

.zaloguj .input-zaloguj {
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid red;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    font-weight: bold;
}

.zaloguj .input-zaloguj:focus {
    outline: none;
}

.zaloguj .input-zaloguj::placeholder {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.zaloguj .button-zaloguj {
    width: 150px;
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.zaloguj .info-register {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.zaloguj .button-register {
    text-decoration: none;
    border: 2px solid gray;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    color: black;
    margin-top: 15px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 150px;
    font-weight: bold;
}

.zaloguj .button-register:hover {
    background-color: black;
    color: white;
    border: none;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .text-register {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.register .label-register {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.register .input-register {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}

.register .input-register:focus {
    outline: none;
}

.register .button-register {
    border: none;
    width: 200px;
    height: 60px;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 40px;
}